<nav class="navbar navbar-light bg-light">
  <span class="navbar-text">
    Amy Winehouse API, A RESTful API.
  </span>
</nav>


<div class="authform">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>
    <h3>Sign in</h3>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
    </div>
    <%= f.submit "Log in", class: "button right btn btn-primary" %>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

</div>
